package com.example.myapplication;

import androidx.appcompat.app.AppCompatActivity;

import android.os.Bundle;
import android.widget.Button;
import android.content.Intent;
import android.view.View;
import android.widget.EditText;


public class credit extends AppCompatActivity {
EditText amount,description;
    Button sbutton;
    Button bbutton;
    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_credit);
        amount=(EditText)findViewById(R.id.amount);
        description=(EditText)findViewById(R.id.description);
        sbutton=(Button)findViewById(R.id.sbutton);
        sbutton.setOnClickListener(new View.OnClickListener(){
            @Override
            public void onClick(View v) {
                if(amount.getText().toString().equals("")){
                    amount.setError("Enter valid amount");
                }
                else if(description.getText().toString().equals("")){
                    description.setError("Enter valid description");
                }
            }
        });
        bbutton=(Button)findViewById(R.id.bbutton);
        bbutton.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                Intent intent= new Intent(credit.this,MainActivity.class);
                startActivity(intent);
            }
        });
    }
}